<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Wijmo Nav Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="container">
        <h1>
          TabPanel Concepts
        </h1>
        <p>
          The TabPanel control enables content organization at a high level, 
          such as switching between views, data sets, or functional aspects 
          of an application.</p>
        <p>
          Tabs are presented as a single row above their associated content.
          Tab headers succinctly describe the content within.</p>
        <p>
          Tabs can be selected with the mouse or keyboard, and automatically
          update the content to reflect the current selection.</p>
        <p>
          Each tab consists of a header element (always visible) and a 
          pane element that contains the tab content. The pane element
          is visible when the corresponding header is selected with the
          mouse or keyboard.</p>
        <div id="theTabPanel">
          <div>
            <a>Africa</a>
            <div>
              <ul>
                <li>Algeria</li>
                <li>Angola</li>
                <li>Benin</li>
                <li>Botswana</li>
              </ul>
            </div>
          </div>
          <div>
            <a class="wj-state-active">
                  America
              </a>
            <div>
              <ul>
                <li>Canada</li>
                <li>Chile</li>
                <li>Mexico</li>
                <li>United States</li>
              </ul>
            </div>
          </div>
          <div>
            <a>Asia</a>
            <div>
              <ul>
                <li>China</li>
                <li>Korea</li>
                <li>India</li>
                <li>Japan</li>
              </ul>
            </div>
          </div>
          <div>
            <a>Europe</a>
            <div>
              <ul>
                <li>Austria</li>
                <li>England</li>
                <li>France</li>
                <li>Germany</li>
                <li>Netherlands</li>
                <li>Switzerland</li>
              </ul>
            </div>
          </div>
          <div>
            <a>Oceania</a>
            <div>
              <ul>
                <li>Australia</li>
                <li>Fiji</li>
                <li>New Zealand</li>
                <li>Samoa</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</ion-content>