<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Wijmo FlexGrid Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="container">
    <h1>
      FlexGrid Core Features
    </h1>
    <p>
      The FlexGrid control is small, fast, robust, and full-featured.
      This example shows a material-themed grid with
      <b><span id="rowCount"></span></b> rows and
      links that allow you to explore some of the grid's core
      features.
    </p>
    <p>
      Use the mouse or keyboard to select cell ranges, copy
      and paste to the clipboard, resize and drag columns,
      edit cells, and explore!
    </p>


    <div id="theGrid"></div>

  </div>
</ion-content>