<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      FlexChart Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>FlexChart Demo</h2>

  <div class="container-items-center">
    <label for="chartType" style="padding-right:10px">Series Chart Type:</label>
    <div id="chartType"></div><br>
    <div style="flex:1 1 auto"></div>
  </div>
  <div padding></div>
  <div id="FlextChartContainer"></div>
</ion-content>